body {
    margin: 0px;
    margin-left: 10px;
}

.time {
    position: relative;
    float: right;
    bottom: 37px;
}
.chats {
    position: relative;
    width: 320px;
    cursor: pointer;
    padding:1px 5px ;
}
.chatsa {
    color: white;
    background-color: powderblue;
}
.chats:hover {
    color: white;
    background-color: powderblue;
}
.chat-list {
    width: 348px;
    height: 640px;
    overflow: scroll;
    overflow-x: hidden;
}
.messeges {
    position: absolute;
    left: 354px;
    top: 1px;
    width: 71%;
    padding: 10px;
    height: 618px;
    overflow: scroll;
    overflow-x: hidden;
}

